<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pic!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Pic</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <!--Need to change the path to profile_path-->
                <%= link @current_user.email, to: user_path(@conn, :show, @current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= if @user_signed_in? do %>
                  <%= link gettext("Sign out"), to: session_path(@conn, :delete), method: :delete, class: "nav-link" %>
                <% else %>
                  <%= link gettext("Sign in"), to: session_path(@conn, :new), class: "btn btn-outline-info btn-sm" %> | <%= link gettext("Sign up"), to: user_path(@conn, :new), class: "nav-link" %>
                <% end %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="buttotn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= gettext("Locale") %></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= toggle_locale @conn, :en, gettext("English"), "dropdown-item" %> |
                  <%= toggle_locale @conn, :zh, gettext("Chinese"), "dropdown-item" %>
                </div>
              </li>
            </ul>
            <%= form_for @conn, post_path(@conn, :index), [method: :get, class: "form-inline my-2 my-lg-0"], fn f -> %>
              <%= search_input f, :query, class: "form-control mr-sm-2" %>
              <%= submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          </div>
        </nav>

        <span class="logo"></span>
      </header>

      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
